  .checkout-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
      margin-top: 50px;
      gap: 20px;
    }
    .left-side {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .shipping-container {
      background: #fff;
      padding: 10px;
      border: 1px solid #ccc;
    }
    .order-summary {
      background: #fff;
      border-radius: 0px;
    }
    .shipping-container h3{
        font-family: 'Gilroy', sans-serif;
        font-weight: bold;
        font-size: 24px;
        margin-top: 5px;
    }
    .shipping-container h5{
        font-family: 'Gilroy', sans-serif;
        font-weight: bold;
        font-size: 16px;
        margin-top: 2px;
    }
    .address-container{
      background: #fff;
      padding: 10px;
      border: 1px solid #ccc;
    }
    .name{
        font-family: 'Gilroy', sans-serif;
        font-weight: bold;
        margin-left: 10px;
    }
    .address, .contact{
        font-family: 'Gilroy', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-left: 10px;
    }
    .btn-billing {
    display: block;
    text-align: center;
    background-color: #ffffff;
    color: #FAC102;
    border: 1.5px solid #FAC102;
    border-radius: 0%;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    width: 200px;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 10px;
    }
    .btn-billing:hover {
        background-color: #FAC102;
        color: #ffffff;
    }
    .cart-item {
      display: flex;
      align-items: flex-start; 
      gap: 10px;
    }
    .item-image{
        width: 75px;
        height: 85px;
        object-fit: contain;
        border: 2px solid #ddd;   
    }
    .prod-details {
      display: flex;
      flex-direction: column; 
      justify-content: flex-start;
      width: 100%;
    }
    .prod-name {
      font-family: 'Gilroy', sans-serif;
      font-weight: bold;
      font-size: 14px;
      margin: 0 0 50px 0;
      text-align: left;
    }
    .prod-row {
      display: flex;
      flex-direction: row;
      gap: 120px; 
      align-items: center;
    }
    .prod-quantity {
      font-size: 14px;
      color: #888;
    }
    .prod-price {
      font-size: 16px;
      font-weight: bold;
      color: #222;
    } 
