@import url("base.css");
@import url("breadcrumb.css");
@import url("categories.css");
@import url("account.css");
@import url("page_header.css");
@import url("page_footer.css");
@import url("product_carousel.css");
@import url("carousel.css");
@import url("featured_author.css");


/* Font import */
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Color and font variables */
:root {
    --primary-color: #545454;
    --secondary-color: #11B8CE;
    --background-color: #ffffff;
    --border-color: #d3d3d3;
    --link-color: #11B8CE;
    --link-hover-color: #545454;
    --button-bg-color: #11B8CE;
    --button-hover-bg-color: #ED1D7F;
    --button-text-color: #fff;

    --font-family: 'Gilroy', sans-serif;
    --heading-font-size: 24px;
    --body-font-size: 16px;
}

/* General styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: var(--font-family);
    font-size: var(--body-font-size);
    background-color: var(--background-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
}

h1, h2 {
    color: var(--secondary-color);
    font-size: var(--heading-font-size);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

button {
    margin-left: 10px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--button-hover-bg-color);
}
