<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
</head>
<body>
    <div class="page-wrapper">
        {% include 'components/page_header.html' %}
        
        <div class="about-us-container">
            <h1>About Us</h1>
            
            <div class="about-text">
                <p>Papernest is an online bookstore that started as a final project for our Object-Oriented Programming subject in our second year at the Polytechnic University of the Philippines. We were inspired by the bookstore Fullybooked, and after the project ended, we decided to continue building Papernest even after college. What began as a school requirement has now become something we truly care about.</p>
                <p>Our vision is to become a go-to place for book lovers and creative minds. We aim to offer books and non-book items for people of all ages, and to inspire everyone to read more and express themselves through learning and creativity. We believe that books are not just for school or work but also for enjoyment, imagination, and personal growth.</p>
                <p>At Papernest, we sell a wide range of books. These include academic books, fiction, non-fiction, self-help, children’s books, and science and technology topics. We also offer non-book products like art supplies, calendars, planners, notebooks, journals, novelties, and reading tools and accessories. Whether you are a student, a parent, a teacher, or just someone who loves to read, there is something for you here.</p>
                <p>Our store is guided by values that are important to us. We support affordability so that more people can enjoy books without spending too much. We care about diversity, so we offer books from different genres, cultures, and voices. We also believe in being eco-friendly and in supporting local authors and small creators.</>
            </div>
            
            <div class="about-images">
                <img src="{{ url_for('static', filename='images/about_us/firstabout.img.png') }}" alt="About Papernest 1" class="about-img">
                <img src="{{ url_for('static', filename='images/about_us/papernest.png') }}" alt="About Papernest 2" class="about-img">
                <img src="{{ url_for('static', filename='images/about_us/thirdabout.img.png') }}" alt="About Papernest 3" class="about-img">
            </div>

            <!-- Team Section -->
            <h1 class="team-title">The Papernest</h1>
            
            <div class="about-text">
                <p>What makes Papernest different from other online bookstores is that we are a small team of friends who met in college. We know how it feels to search for affordable books, meaningful stories, and tools that help with both study and relaxation. We are based in Sto. Tomas, Batangas, and we are proud to be part of a community that values learning and creativity.
We may be a small team, but we have a big dream. At Papernest, we hope to grow with our customers and continue to be a safe and inspiring space for readers, writers, and creators. Thank you for being part of our story.</p>
            </div>
            
            <div class="team-members">
                <div class="team-member">
                    <div class="member-image">
                        <img src="{{ url_for('static', filename='images/about_us/peps.img.png') }}" alt="James Patrick Orlanes">
                    </div>
                    <h3>James Patrick Orlanes</h3>
                </div>
                
                <div class="team-member">
                    <div class="member-image">
                       <img src="{{ url_for('static', filename='images/about_us/abby.img.png') }}" alt="Abigail Barrion">
                    </div>
                    <h3>Abigail Barrion</h3>
                </div>
                
                <div class="team-member">
                    <div class="member-image">
                         <img src="{{ url_for('static', filename='images/about_us/jems.img.png') }}" alt="James Francis Mercado">
                    </div>
                    <h3>James Francis Mercado</h3>
                </div>
                
                <div class="team-member">
                    <div class="member-image">
                        <img src="{{ url_for('static', filename='images/about_us/Iyah.img.png') }}" alt="Althea Mishka Alvarez">
                    </div>
                    <h3>Althea Mishka Alvarez</h3>
                </div>
                
                <div class="team-member">
                    <div class="member-image">
                        <img src="{{ url_for('static', filename='images/about_us/dens.img.png') }}" alt="Denmar Redondo">
                    </div>
                    <h3>Denmar Redondo</h3>
                </div>
            </div>
        </div>
        
        {% include 'components/page_footer.html' %}
    </div>
</body>
</html>