<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trending.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popular_category.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="page-wrapper">
        {% include 'components/page_header.html' %}
        <div class="main-content">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/">Home</a> / <span>Books</span>
                </div>

                <h2 class="category-heading">SHOP BY CATEGORY</h2>
                <div class="categories-grid">
                    <a href="{{ url_for('product.category_products', category_name='fiction') }}" class="category-box">Fiction</a>
                    <a href="{{ url_for('product.category_products', category_name='non-fiction') }}" class="category-box">Non-Fiction</a>
                    <a href="{{ url_for('product.category_products', category_name='science-and-technology') }}" class="category-box">Science & Technology</a>
                    <a href="{{ url_for('product.category_products', category_name='self-help-and-personal-development') }}" class="category-box">Self-help & Development</a>
                    <a href="{{ url_for('product.category_products', category_name='children\'s-books') }}" class="category-box">Children's</a>
                    <a href="{{ url_for('product.category_products', category_name='academic-reference-development') }}" class="category-box">Academic Reference</a>
                </div>
            </div>
            <div class="shop-now-section">
                <div class="shop-now-image-container">
                    <img src="{{ url_for('static', filename='images/popular/books_shop_now.png') }}" alt="Art Materials" class="shop-now-image">
                </div>
                <div class="shop-now-content">
                    <h1>BOOKS</h1>
                    <p>Ignite your imagination with the finest books –<br>where every page opens a new world!</p>
                    <a href="/shop-now" class="shop-now-link">SHOP NOW</a>
                </div>
            </div>
            {% include 'components/popular.html' %}
            <script src="{{ url_for('static', filename='js/product_carousel.js') }}"></script>
            </div>
            <div class="trending-wrapper" style="margin-bottom: 20px;">
            <div class="trending-content">
                <h1>What's Trending?</h1>
            </div>
            {% include 'components/product_carousel.html'%}
            </div>
        </div>
    </div>
    <footer>
        {% include 'components/page_footer.html' %}
    </footer>
</body>
</html>