<link rel="stylesheet" href="{{ url_for('static', filename='css/popular_category.css') }}">
<!-- components/popular.html -->
<h1 class="popular-category-heading">Most Popular Categories</h1>
<div class="popular-grid">
    {% for category in popular_categories %}
    <div class="popular-card">
        <div class="popular-image-container">
            <img src="{{ category.image }}" alt="{{ category.name }}" class="popular-image">
        </div>
        <div class="popular-content">
            <div class="category-title"><b>{{ category.name }}</b></div>
            <a href="{{ category.link }}" class="browse-link">BROWSE ALL</a>
        </div>
    </div>
    {% endfor %}
</div>